<!--main.html-->
<!doctype	html>
<html> 
<head>
<meta charset="utf-8">
<title>Ćwierkacz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
</script>
<script src="javascripts/cwierkaczApp.js"></script>
</head>
<body ng-app="cwierkaczApp">
    <div id='main' class="container" ng-controller="mainController">
        <div class="col-md-offset-2  col-md-8">
            <div class="clearfix">
                <form ng-submit="post()">
                    <input required class="form-control" type="text" placeholder="Nick" ng-model="newPost.created_by"/>
                    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Powiedź coś"></textarea>
                    <input	class="btn  submit-btn  pull-right"	type="submit"	value="Ćwierk!"	/>
                </form>
                <div id="post-stream">
                    <h4>Ostatnie	Ćwierki</h4>
                        <div class='post' ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                            <p>{{post.text}}</p>
                            <small>Posted   by  @{{post.created_by}}</small>
                            <small class="pull-right">{{post.created_at    |   date:"h:mma 'on'    MMM d,  y"}}</small>
                            <p>{{post.created_by}} says {{post.text}} at {{post.created_at}}</p>    
                    <!--Zostanie	uzupełnione	przez	logikę	aplikacji-->
        
             
                        </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>
